name: IP 检测与处理脚本

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *'

permissions:
  contents: write
  actions: write

jobs:
  run-script:
    runs-on: windows-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 检查Python环境
        run: python --version

      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          pip install dnspython requests

      - name: 检查CloudflareScanner.exe是否存在
        run: |
          if (!(Test-Path "CloudflareScanner\CloudflareScanner.exe")) {
            Write-Host "CloudflareScanner.exe 不存在"
            exit 1
          } else {
            Write-Host "CloudflareScanner.exe 存在"
          }

      - name: 运行脚本
        run: python DNS2Geo.py
